*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1.2em;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  cursor: pointer;
}

strong {
  font-weight: bold;
}

.sticky-panel-wrapper {
  position: relative;
}

.sticky-panel-wrapper.fade-me {
  opacity: 0;
}

.sticky-panel {
  height: 100vh;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.sticky-panel-v1 .sticky-panel {
  position: fixed;
  z-index: -1;
}

.sticky-panel.stuck {
  position: fixed;
  z-index: -1;
}
.sticky-panel.unstuck {
  position: absolute;
  top: 100vh;
}
.sticky-panel div {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.sticky-panel .sticky-panel-1, .sticky-panel .sticky-panel-2 {
  opacity: 0;
}
.sticky-panel .sticky-panel-1.show-panel, .sticky-panel .sticky-panel-2.show-panel {
  opacity: 1;
}

.vimeo-wrapper {
  background-color: #000;
  overflow: hidden;
}
.vimeo-wrapper .video-line {
  color: #fff;
  font-size: 2.25rem;
  opacity: 0;
  position: absolute;
  left: 5%;
  line-height: 1;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 90%;
}
.vimeo-wrapper .video-line.static {
  opacity: 1;
}
.vimeo-wrapper.loaded .video-line.line-1 {
  -webkit-animation: a 7s;
  animation: a 7s;
}
.vimeo-wrapper.loaded .video-line.line-2 {
  -webkit-animation: a 5.4s;
  animation: a 5.4s;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

@-webkit-keyframes a {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes a {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
a.home-scroll-down {
  bottom: 2rem;
  display: block;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  z-index: 1;
  height: 50px;
  width: 50px;
}
a.home-scroll-down svg {
  height: 50px;
  width: 50px;
}

.vimeo-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.video-placeholder-img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.video-placeholder-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.4;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.column.right {
  float: right;
}

.single-margin-right {
  margin-right: 8.58209%;
}

.four-col {
  width: 31.34328%;
}

.column {
  display: block;
  float: left;
  margin-left: 2.98507%;
  text-decoration: none;
}

.copy {
  max-width: 450px;
}
.copy .color {
  color: #424B5A;
}
.copy h2 {
  font-weight: bold;
  font-size: 50px;
  line-height: 50px;
}
.copy p {
  line-height: 25px;
  font-size: 18px;
}
.copy .button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: white;
}
.copy .button span {
  font-size: 18px;
}
.copy .button svg {
  margin-left: 10px;
}

.btn-primary {
  position: relative;
  display: block;
  text-decoration: none;
}
.btn-primary::before {
  content: "";
  width: 160px;
  height: 42px;
  border: 1px solid #424B5A;
  position: absolute;
  left: 5px;
  top: -5px;
  z-index: 0;
}
.btn-primary span {
  z-index: 1;
  position: relative;
  width: 160px;
  height: 42px;
  border: 1px solid #424B5A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  color: #424B5A;
}
.btn-primary:hover::before {
  background: white;
}

.top-panel-gradient {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.1)), color-stop(25%, transparent));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent 25%);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
}

.scroll-panel {
  color: #fff;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.marginbt1 {
  margin-bottom: 1rem;
}

.marginbt2 {
  margin-bottom: 2rem;
}

.padding4_5_0 {
  padding: 4.5rem 0;
}

.padtop_4_5 {
  padding-top: 4.5rem;
}

.padbottom_4_5 {
  padding-bottom: 4.5rem;
}

.padding3_0 {
  padding: 3rem 0;
}

.services {
  background-color: #2d2d2d;
}
.services .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.services .wrapper > a {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  font-size: 25px;
  color: white;
  text-transform: uppercase;
  position: relative;
  top: 125px;
  text-decoration: none;
}
.services .wrapper > a h2 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services .wrapper > a svg {
  margin-left: 10px;
}
.services .wrapper .services-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
}
.services .wrapper .services-wrapper .services-column {
  width: 33.33%;
}
.services .wrapper .services-wrapper .services-column .services-column-inner {
  padding: 0 16px;
}
.services .wrapper .services-wrapper .services-column .services-column-inner .services-layout {
  padding: 2rem;
  position: relative;
  height: 480px;
  overflow: hidden;
}
.services .wrapper .services-wrapper .services-column .services-column-inner .services-layout.active {
  cursor: pointer;
}
.services .wrapper .services-wrapper .services-column .services-column-inner .services-layout.active::before {
  top: 0;
  width: 100%;
}
.services .wrapper .services-wrapper .services-column .services-column-inner .services-layout.active::after {
  bottom: 0;
  width: 100%;
}
.services .wrapper .services-wrapper .services-column .services-column-inner .services-layout.active .services-holder::before, .services .wrapper .services-wrapper .services-column .services-column-inner .services-layout.active .services-holder::after {
  height: 100%;
}
.services .wrapper .services-wrapper .services-column .services-column-inner .services-layout.active .services-content {
  padding-top: 50px;
  -webkit-transition: padding-top 260ms linear 0ms;
  transition: padding-top 260ms linear 0ms;
}
.services .wrapper .services-wrapper .services-column .services-column-inner .services-layout::before, .services .wrapper .services-wrapper .services-column .services-column-inner .services-layout::after {
  -webkit-transition: all 260ms linear 0ms;
  transition: all 260ms linear 0ms;
  content: "";
  width: 0;
  height: 3px;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  background-color: #c5984f;
}
.services .wrapper .services-wrapper .services-column .services-column-inner .services-layout .services-holder::before {
  left: 0;
}
.services .wrapper .services-wrapper .services-column .services-column-inner .services-layout .services-holder::after {
  right: 0;
}
.services .wrapper .services-wrapper .services-column .services-column-inner .services-layout .services-holder::before, .services .wrapper .services-wrapper .services-column .services-column-inner .services-layout .services-holder::after {
  -webkit-transition: all 260ms linear 0ms;
  transition: all 260ms linear 0ms;
  content: "";
  width: 3px;
  height: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  background-color: #c5984f;
}
.services .wrapper .services-wrapper .services-column .services-column-inner .services-layout .services-content {
  padding-top: 175px;
}
.services .wrapper .services-wrapper .services-column .services-column-inner .services-layout .services-content h2 {
  font-size: 25px;
  font-weight: bold;
  color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.services .wrapper .services-wrapper .services-column .services-column-inner .services-layout .services-content p {
  font-size: 16px;
  color: white;
  line-height: 25px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.services .wrapper .services-wrapper .services-column .services-column-inner .services-layout .services-icon {
  height: 122px;
  margin-bottom: 1rem;
}
.services .wrapper .services-wrapper .services-column .services-column-inner .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.heading h2 {
  font-size: 50px;
  font-weight: bold;
  color: #424B5A;
}
.heading p {
  line-height: 30px;
  font-size: 16px;
  color: #424B5A;
}

.hover-style .zoom-image {
  overflow: hidden;
}
.hover-style .zoom-image img {
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}
.hover-style h3 span {
  text-decoration: none;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000), to(#000));
  background-image: linear-gradient(#000, #000);
  background-position: 0 90%;
  background-repeat: no-repeat;
  background-size: 0 1px;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
}
.hover-style:hover .zoom-image img {
  -webkit-transform: scale(1.03);
  transform: scale(1.03);
}
.hover-style:hover h3 span {
  background-size: 100% 1px;
}
.hover-style:hover .icon svg {
  fill: #000;
}

.ideas {
  background: white;
}
.ideas .heading {
  text-align: center;
}
.ideas .item {
  text-decoration: none;
}
.ideas .item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ideas .item .icon svg {
  margin-right: 10px;
}
.ideas .item .icon span {
  font-size: 16px;
  color: #424B5A;
}
.ideas .item h3 span {
  font-size: 25px;
  font-weight: bold;
  color: #424B5A;
}
.ideas .item h3 svg {
  margin-left: 10px;
}
.ideas .mCSB_scrollTools .mCSB_draggerRail {
  background-color: #F0F0F0 !important;
  height: 6px !important;
}
.ideas .mCSB_scrollTools .mCSB_dragger_bar {
  height: 6px !important;
  background-color: #FF9900 !important;
}

.company {
  background-color: #F5F5F5;
}
.company .content {
  text-align: center;
}
.company .content h2 {
  font-size: 30px;
  font-weight: 600;
  color: #424B5A;
  line-height: 40px;
}
.company .content span.line {
  width: 128px;
  height: 1px;
  background-color: #424B5A;
  display: block;
  margin: 0 auto 1rem auto;
}
.company .content span.name {
  font-size: 20px;
  color: #424B5A;
}

.projects {
  background-color: white;
  padding-left: 10%;
}
.projects .projects-inner {
  position: relative;
  height: 535px;
}
.projects .projects-inner #counter {
  position: absolute;
  bottom: 15px;
  font-size: 30px;
  left: 45px;
}
.projects .main {
  position: relative;
  height: 100%;
}
.projects .main .owl-nav .owl-prev {
  position: absolute;
  bottom: 0;
  left: 0;
}
.projects .main .owl-nav .owl-next {
  position: absolute;
  bottom: 0;
  left: 100px;
}
.projects .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}
.projects .item .right {
  width: 800px;
}
.projects .item .left {
  width: calc(100% - 800px);
  padding-right: 100px;
}
.projects .item .left .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects .item .left .icon svg {
  margin-right: 10px;
}
.projects .item .left .icon span {
  font-size: 16px;
  color: #424B5A;
}
.projects .item .left h3 span {
  font-size: 35px;
  font-weight: bold;
  color: #424B5A;
}
.projects .item .left h3 svg {
  margin-left: 10px;
}

.team {
  background-color: white;
}
.team .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.team .content .item {
  width: calc(50% - 15px);
}
.team .heading {
  text-align: center;
}
.team .item {
  text-decoration: none;
}
.team .item .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team .item .icon svg {
  margin-right: 10px;
}
.team .item .icon span {
  font-size: 16px;
  color: #424B5A;
}
.team .item h3 span {
  font-size: 25px;
  font-weight: bold;
  color: #424B5A;
}
.team .item h3 svg {
  margin-left: 10px;
}